%h1 MadPilot Status Board
.weekdays
  %ul
    %li Mon
    %li Tue
    %li Wed
    %li Thur
    %li Fri
.current-job
  .job-name
    %h2 Batman
    .job-status-bar
  .employee
    %h3 Myles
    %h3 Cyrus
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li
      
.weekdays
  %ul
    %li Mon
    %li Tue
    %li Wed
    %li Thur
    %li Fri
.current-job
  .job-name
    %h2 MCNE
    .job-status-bar
  .employee
    %h3 Myles
    %h3 Cyrus
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li

.weekdays
  %ul
    %li Mon
    %li Tue
    %li Wed
    %li Thur
    %li Fri
.current-job
  .job-name
    %h2 Man-Up
    .job-status-bar
  .employee
    %h3 Myles
    %h3 Cyrus
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li 

.weekdays
  %ul
    %li Mon
    %li Tue
    %li Wed
    %li Thur
    %li Fri
.current-job
  .job-name
    %h2 Moose
    .job-status-bar
  .employee
    %h3 Myles
    %h3 Cyrus
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li
  .weekday-status
    %ul
      %li 
      %li
      %li
      %li
      %li             