!!! strict
%html
  %head
    %title
      MadPilot StatusBoard
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" /> 
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />

    
  %body
    = yield
